<div class="container" style="width:100%;">
    <div id="page1"></div>
</div>
<!--header of the about-me-->
<div class="header">
    <h1 class = "h1">ABOUT ME!!</h1>
    <p>BECAUSE WE'RE ALWAYS EATING SOMETHING SPECIAL.</p>
  </div>
<!--first background and text-->  
<div class="k1">
     <div class = "h2">Want to make a big meal </div>
     <div class = "h3">But have no way to start?</div>
    </div>
<!--second background and text-->     
<div class="k2">
    <div class = "h4"> Or always make your kitchen </div>
    <div class = "h5">In a mess?</div>
 </div>
 <!--Second header--> 
 <div class = "k3">

    <div class = "k4">It's time to take me to your kitchen!</div></div>   

<!--A photo table whit 2 row 3 column--> 
    <div class="row"> 
            <div class="column">
              <img src="./../../assets/11.jpg" style="width:100%">
              <img src="./../../assets/2.jpeg" style="width:100%">
              
              
            </div>
            <div class="column">
                    <img src="./../../assets/p2.jpg" style="width:100%">
                    <img src="./../../assets/p5.jpeg" style="width:100%">
            </div>
            <div class="column">
                    <img src="./../../assets/p4.jpeg" style="width:100%">
                    <img src="./../../assets/p1.jpg" style="width:100%">
            </div>
          </div>
 <!--conclusion-->        
          <div class = "jy">
              <p class="l1">It's time to connect people</p>
              <p class = "l2">with recipes!</p>
          </div>