<div class="container" style="width:100%;">
                <!-- <h2>Carousel Example</h2>  
                <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
                  <!-- Indicators -->
                  <!-- <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
                    <!-- <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li> -->
                  <!-- </ol> -->
                  <div id="page1"></div>
        
              
<!-- Wrapper for slides -->
<!-- <div class="carousel-inner">

                <div class="item active">
                  <img src="./../../assets/chickennn.gif" alt="Chineeseee!" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Chineeseee!</h3>
                    <p>Chineese food is always so much yumm!</p>
                  </div>
                </div> -->
          
                <!-- <div class="item">
                  <img src="./../../assets/indian.jpg" alt="Indian" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Indian</h3>
                    <p>Its all about spices!</p>
                  </div>
                </div>
              
                <div class="item">
                  <img src="./../../assets/italian.jpg" alt="Italian" style="width:100%;">
                  <div class="carousel-caption">
                    <h3>Italian</h3>
                    <p>This time its about fooodd! and not about Dance!!</p>
                  </div>
                </div> -->
            
        <!-- </div>
                            </div>
                          </div>      -->


                          <!-- Header -->
<div class="header">
                <h1>INSTACURIOUS</h1>
                <p>BECAUSE WE'RE ALWAYS EATING SOMETHING SPECIAL.</p>
              </div>
              
              <!-- Photo Grid -->
              <div class="row"> 
                <div class="column">
                  <img src="./../../assets/italian.jpg" style="width:100%">
                  <img src="./../../assets/pizza.png" style="width:100%">
                  <img src="./../../assets/fish.jpg" style="width:100%">
                  <img src="./../../assets/food.jpg" style="width:100%">
                  
                </div>
                <div class="column">
                 <img src="./../../assets/cheesy.jpg" style="width:100%">
                 <img src="./../../assets/main.jpg" style="width:100%">
                  <img src="./../../assets/f1.jpg" style="width:100%">
                </div>  
                
                <div class="column">
                                <img src="./../../assets/fish.jpg" style="width:100%">
                                <img src="./../../assets/hamburgers300.jpg" style="width:100%">
                  <img src="./../../assets/italian.jpg" style="width:100%">
                  
                </div>
              </div>
              

      
      


    


