

  <div class="container bg">
    <h1>Sign Up</h1>
    <p>Create an account to be an authenticated user.</p>
    <hr>

    <form action="http://localhost:3000/" method="post">
      <input type="email" name="email" class="form-control" placeholder="E-mail" required="">
      <input type="text" name="username" class="form-control" placeholder="Username" required="">
      <input type="password" name="password" class="form-control" placeholder="Password" required="">
      <input type="password" name="passwordConf" class="form-control" placeholder="Confirm Password" required="">
      <input type="text" name="aboutMe" class="form-control" placeholder="About Me" >
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>


    <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      <a href="/login"><button type="button" class="cancelbtn">Already a User? Log in :)</button></a>
    </div>
  </form>
  </div>

